<!DOCTYPE html>
<html>
<head>
	<title>Minha Farmácia</title>
	<!-- Adiciona o link para o arquivo CSS do Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<style>
		body {
			background-color: #ff574d;
			text-align: center;
		}
		h1 {
			margin-top: 100px;
			font-size: 2.5em;
		}
		button {
			font-size: 1.5em;
			padding: 20px 40px;
			border-radius: 20px;
			background-color: #FFFFFF;
			color: #000000 ;
			border: 2px solid #FFFFFF;
			cursor: pointer;
		}		

		button:hover {
			background-color: #0069d9;
		}
		button img {
		width: 70px;
		height: 70px;
		}

	</style>
</head>
<body>
	<h1>Bem-vindo(a)</h1>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<button class="button"><i class="bi bi-person"></i><img src="C:\Users\Guilherme\Desktop\site app\pessoa.jpg"> Dados Pessoais</button>
				<br>
				<br>
				<button class="button"><i class="bi bi-journal-check"></i><img src="C:\Users\Guilherme\Desktop\site app\historico.png"> Histórico Pedidos</button>
			</div>
			<div class="col-md-6">
				<button class="button"><i class="bi bi-medicine-bottle"></i><img src="C:\Users\Guilherme\Desktop\site app\receita.png"> Solicitar Remédio</button>
				<br>
				<br>
				<button class="button"><i class="bi bi-box-arrow-right"></i><img src="C:\Users\Guilherme\Desktop\site app\sair.png"> Sair da Aplicação</button>
			</div>
		</div>
	</div>
	
	<!-- Adiciona o link para o arquivo JavaScript do Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNSbNtx" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
